[efy_lang]{
--version:Version;
--theme:Theme;
--visual_filters:Visual Filters;
--backup:Backup;
--efy_language:EFY Language;
--accessibility:Accessibility;
--audio_effects:Audio Effects;
--nature_effects:Nature Effects;
--default:Default;
--light:Light;
--sepia:Sepia;
--dark:Dark;
--nord:Nord;
--black:Black;
--color:Color;
--text:Text;
--background:Background;
--reset:Reset;
--radius:Radius;
--angle: Angle;
--gap:Gap;
--beta:Beta;
--alpha:Alpha;
--content:Content;
--trans_elements:Trans Elements;
--brightness:Brightness;
--blur:Blur;
--saturation:Saturation;
--contrast:Contrast;
--hue:Hue;
--invert:Invert;
--mode:Mode;
--colors:Colors;
--images:Images;
--size:Size;
--max_width:Max Width;
--transparency:Transparency;
--efy_settings:EFY Settings;
--efy_images:EFY Images;
--save:Save;
--menu_button_position:Menu Button Position;
--floating_button:Floating Button;
--outline:Outline;
--focus_outline:Focus Outline;
--animations:Animations;
--on_off:On / Off;
--speed:Speed;
--text_size:Text Size;
--zoom:Zoom;
--text_spacing:Text Spacing;
--cursor:Cursor;
--custom:Custom;
--hide_touchscreen:Hide (Touchscreen);
--learn_more:Learn more;
--matrix:Matrix chat;
--github:Github;
--custom_colors:Custom Colors;
--virtual_keyboard:Virtual Keyboard;
--click_tap:Click & Tap;
--mouse_hover:Mouse Hover;
--efy_volume:EFY Volume;
--page_volume:Page Volume;
--audio:Audio;
--visual:Visual;
--snow:Snow;
--rain:Rain;
--leaves:Leaves;
--flowers:Flowers;
--bubbles:Bubbles;
--forest:Forest;
--waves:Waves;
--underwater:Underwater;
--people:People;
--fireworks:Fireworks;
--dreamy:Dreamy;
--add_file:Add File;
--no_notifications:No notifications yet...;
--sidebar_search_placeholder:Search through menu;
--sidebar_about_text:This page uses EFY, a customisable, convergent, transparent, modular, futuristic css / js framework that can be added to your own web / local apps & websites;
--sidebar_transparency_help:If your operating system or window manager supports transparency, the background becomes transparent. Otherwise just import your own images and turn this on;
--sidebar_images_warning:Warning. Bigger = Slower;
--sidebar_images_warning_help:Keep them bellow 1MB per image, unless your device has a powerful CPU / GPU. You can also convert png, jpg etc to webp to reduce the size;
--sidebar_cursor_text:WARNING. Only hide it on touchscreen devices;
--sidebar_audio_text:You might have to click / tap on the ssl / lock icon on your browser & allow sounds, to hear them automatically;
--custom_colors_help:These colors override the default ones;
--sidebar_outline_text:Safari & Webkit do not support custom outline radius yet, so it is not up to efy, but the outline itself works & the radius as well on other browsers.;
--offline_notify:You are OFFLINE;
--offline_notify_text:Maybe check your internet connection?;
--online_notify:You are back ONLINE;
--online_notify_text:Reload the page if needed;
}