[efy_lang]{
--version:Versiune;
--theme:Temă;
--visual_filters:Filtre Vizuale;
--backup:Backup;
--efy_language:Limbă EFY;
--accessibility:Accesibilitate;
--audio_effects:Efecte Audio;
--nature_effects:Efecte Natură;
--default:Presetat;
--light:Luminat;
--sepia:Sepia;
--dark:Întunecat;
--nord:Nord;
--black:Negru;
--color:Culoare;
--text:Text;
--background:Fundal;
--reset:Resetează;
--radius:Rotunjime;
--angle: Unghi;
--gap:Distanță;
--beta:Beta;
--alpha:Alfa;
--content:Conținut;
--trans_elements:Elemente Trans;
--brightness:Lumină;
--blur:Blur;
--saturation:Saturație;
--contrast:Contrast;
--hue:Hue;
--invert:Inversează;
--mode:Mod;
--colors:Culori;
--images:Imagini;
--size:Mărime;
--max_width:Mărime Maximă;
--transparency:Transparență;
--efy_settings:Setari EFY;
--efy_images:Imagini EFY;
--save:Salvează;
--menu_button_position:Poziția Butonului de Meniu;
--floating_button:Buton Plutitor;
--outline:Linie;
--focus_outline:Linie focus;
--animations:Animații;
--on_off:Pornit / Oprit;
--speed:Viteză;
--text_size:Mărime Text;
--zoom:Mărește;
--text_spacing:Spațiu Text;
--cursor:Cursor;
--custom:Personalizat;
--hide_touchscreen:Ascunde (Touchscreen);
--learn_more:Află mai multe;
--matrix:Chat Matrix;
--github:Github;
--custom_colors:Culori Personalizate;
--virtual_keyboard:Tastatură Virtuală;
--click_tap:Click & Atingere;
--mouse_hover:Apropiere Mouse;
--efy_volume:Volum EFY;
--page_volume:Volum Pagină;
--audio:Audio;
--visual:Vizual;
--snow:Zăpadă;
--rain:Ploaie;
--leaves:Frunze;
--flowers:Flori;
--bubbles:Bule;
--forest:Pădure;
--waves:Valuri;
--underwater:Sub apă;
--people:Oameni;
--fireworks:Artificii;
--dreamy:Visător;
--add_file:Adaugă Fișier;
--no_notifications:Nicio notificare încă...;
--sidebar_search_placeholder:Caută prin meniu;
--sidebar_about_text:Pagina aceasta folosește EFY, un framework css / js customizabil, convergent, transparent, modular, futuristic care poate fii adăugat în site-urile și aplicațiile tale web / locale;
--sidebar_transparency_help:Dacă sistemul tău de operare sau window manager-ul suportă transparență, fundalul devine transparent. Dacă nu, importă propriile tale imagini și activează setarea asta.;
--sidebar_images_warning:ATENȚIE. Mai mare = mai lent;
--sidebar_images_warning_help:Păstrează-le sub 1MB per imagine dacă nu ai un device cu CPU / GPU puternic. Poți și să convertești png, jpg etc în webp ca să reduci mărimea;
--sidebar_cursor_text:ATENȚIE. Ascunde-l doar pe device-uri cu touchscreen;
--sidebar_audio_text:Se poate să trebuiască să dai click / atingi butonul de ssl / lacăt in browser și să permiți sunete ca să le auzi automat;
--custom_colors_help:Aceste culori le înlocuiesc pe cele presetate;
--sidebar_outline_text:Safari & Webkit nu suportă rotunjime de linie personalizată încă, deci nu ține de efy, dar linia în sine merge și rotunjimea de asemenea în alte browsere.;
--offline_notify:Ești OFFLINE;
--offline_notify_text:Verifică-ți conexiunea la internet?;
--online_notify:Ești înapoi ONLINE;
--online_notify_text:Reîncarcă pagina dacă e nevoie;
}