name: Build and Lint

on:
    pull_request:
    push:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  cache: "yarn"
            - run: yarn install --prefer-offline
            - run: yarn build
            - run: yarn lint --no-fix
